
@font-face {
    font-family: Montserrat;
    font-style: normal;
    src: url("/Fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Montserrat-bold;
    font-style: normal;
    src: url("/Fonts/Montserrat/Montserrat-Bold.ttf");
}

body{
    font-family: "Montserrat", serif;
}