
.refresh_background{
    background-color: rgba(34,98,198,.3);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.refresh_background .refresh_logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.refresh_background .refresh_logoContainer h1{
    font-size: 3rem;
}

.refresh_background .refresh_logoContainer img{
    height: max(10vh, 100px);
    margin-right: 15px;
}

.refresh_refreshContainer{
    width: 30vw;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.refresh_refreshContainer > h2{
    margin-top: 0;
    text-align: center;
}

.refresh_refreshContainer > label{
    margin-bottom: 5px;
    font-size: 1.2rem;
    color: #2262C6;
    display: flex;
    flex-direction: column;
}

.refresh_refreshContainer .refresh_error{
    color: #d23e3d;
}

.refresh_refreshContainer .refresh_success{
    color: #2b691f;
}

.refresh_refreshContainer > input:not([type='submit']){
    margin-bottom: 15px;
    font-family: "Montserrat", serif;
    font-size: 1.2rem;
    padding: 15px;
    border: 1px solid #2262C6;
    border-radius: 10px;
    outline: none;
    background-color: rgba(0,0,0,.03);
}


.refresh_refreshContainer input[type='submit']{
    font-family: "Montserrat", serif;
    font-size: 1.2rem;
    padding: 15px 50px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #6498EA;
    color: white;
    cursor: pointer;
}